#service {
  position: relative;
  padding: 2rem 0 6rem;
  margin-top: 7rem;
  @include mq() {
    padding: vw(1200, 60) 0 vw(1200, 100);
    margin-top: 0;
  }
  @include mq(lg) {
    padding: 6rem 0 102px;
  }
  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10rem);
    background-image: url('../images/bg_grey.jpg');
    @include mq() {
      width: 74.5%;
      height: vw(1200, 523);
    }
    @include mq(lg) {
      height: 52.3rem;
    }
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 58px;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 78%;
    background-color: #fff;
    @include mq() {
      top: vw(1200, 130);
      left: 0;
      right: auto;
      width: 61%;
      height: vw(1200, 450);
    }
    @include mq(lg) {
      top: 13rem;
      height: 45rem;
    }
  }
  .service-bottom {
    position: absolute;
    z-index: -3;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background-color: cl(red);
    @include mq() {
      height: vw(1200, 200);
    }
    @include mq(lg) {
      height: 20rem;
    }
  }
  .service-content {
    padding: 0 10px;
    @include mq(xxs) {
      padding: 0 20px;
    }
    @include mq() {
      padding: 0;
      margin-top: vw(1200, -20);
    }
    @include mq(lg) {
      margin-top: -2rem;
    }
    .service-list {
      .service-item {
        &:first-child {
          margin-bottom: 15px;
          @include mq() {
            margin-bottom: vw(1200, 20);
          }
          @include mq(lg) {
            margin-bottom: 2rem;
          }
        }
        .service-title {
          display: flex;
          align-items: center;
          .number {
            margin-right: 8px;
            font-size: 28px;
            @include mq() {
              margin-right: vw(1200, 10);
              font-size: vw(1200, 40);
            }
            @include mq(lg) {
              margin-right: 1rem;
              font-size: 4rem;
            }
          }
        }
        .service-info {
          margin-top: -2px;
          font-size: 12px;
          @include mq() {
            margin-top: vw(1200, -4);
            font-size: vw(1200, 14);
          }
          @include mq(lg) {
            margin-top: -4px;
            font-size: 14px;
          }
        }
      }

    }
  }
}