html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html.fixed {
  overflow: hidden;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.75;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  resize: none;
}

.abril {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
}

.red {
  color: #B60200;
}

.inner {
  max-width: 1120px;
  width: 90%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .inner {
    width: auto;
  }
}

.center {
  text-align: center;
}

.br-sm {
  display: none;
}

@media screen and (min-width: 768px) {
  .br-sm {
    display: block;
  }
}

section {
  margin: 5rem 0;
}

@media screen and (min-width: 768px) {
  section {
    margin: 10vw 0;
  }
}

@media screen and (min-width: 1200px) {
  section {
    margin: 12rem 0;
  }
}

h1.site-title {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  h1.site-title {
    margin-top: -2px;
  }
}

@media screen and (min-width: 1024px) {
  h1.site-title {
    margin: 3rem 0;
    font-size: 32px;
  }
}

@media screen and (min-width: 1200px) {
  h1.site-title {
    margin: 4rem 0;
  }
}

h1.site-title .site-title-link {
  display: inline-block;
}

h1.site-title span {
  display: block;
}

h1.site-title .name {
  letter-spacing: .2em;
  text-indent: .2em;
}

h1.site-title .position {
  margin-top: -1rem;
  font-size: .5em;
  letter-spacing: .15em;
  text-indent: .15em;
}

h2.section-title {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  h2.section-title {
    margin-bottom: 5vw;
  }
}

@media screen and (min-width: 1200px) {
  h2.section-title {
    margin-bottom: 6rem;
  }
}

h2.section-title .en,
h2.section-title .jp {
  display: block;
  letter-spacing: 0.25em;
  text-indent: 0.25em;
}

h2.section-title .en {
  font-size: 42px;
}

@media screen and (min-width: 768px) {
  h2.section-title .en {
    font-size: 8.33333vw;
  }
}

@media screen and (min-width: 1200px) {
  h2.section-title .en {
    font-size: 10rem;
  }
}

h2.section-title .jp {
  display: block;
  margin-top: -14px;
  font-weight: 500;
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  h2.section-title .jp {
    margin-top: -2.91667vw;
    font-size: 1.16667vw;
  }
}

@media screen and (min-width: 1200px) {
  h2.section-title .jp {
    margin-top: -35px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  h2.section-title .about-jp {
    margin-left: 15.16667vw;
  }
}

@media screen and (min-width: 1200px) {
  h2.section-title .about-jp {
    margin-left: 182px;
  }
}

@media screen and (min-width: 768px) {
  h2.section-title .service-jp {
    margin-left: 20.83333vw;
  }
}

@media screen and (min-width: 1200px) {
  h2.section-title .service-jp {
    margin-left: 250px;
  }
}

h2.section-title.side-title {
  margin-bottom: 12px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  h2.section-title.side-title {
    margin-bottom: 2.5vw;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  h2.section-title.side-title {
    margin-bottom: 3rem;
  }
}

h2.section-title.side-title .en,
h2.section-title.side-title .jp {
  text-indent: 0;
}

h3.cmn-title {
  font-size: 19px;
}

@media screen and (min-width: 768px) {
  h3.cmn-title {
    font-size: 2.08333vw;
  }
}

@media screen and (min-width: 1200px) {
  h3.cmn-title {
    font-size: 25px;
  }
}

h3.cmn-title span {
  display: block;
}

h3.cmn-title .main {
  font-weight: 700;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

h3.cmn-title .sub {
  margin-top: -2px;
  font-weight: 500;
  font-size: .58em;
}

.cmn-btn {
  display: block;
  position: relative;
  width: 15rem;
  height: 6rem;
  margin: 4rem auto 0;
  background-color: #B60200;
  line-height: 6rem;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 768px) {
  .cmn-btn {
    width: 20vw;
    height: 6.66667vw;
    margin: 5.83333vw auto 0;
    line-height: 6.66667vw;
  }
}

@media screen and (min-width: 1200px) {
  .cmn-btn {
    width: 24rem;
    height: 8rem;
    margin: 7rem auto 0;
    line-height: 8rem;
  }
}

.cmn-btn:hover {
  border-radius: 15px;
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

.cmn-btn .btn-text {
  font-size: 13px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .cmn-btn .btn-text {
    font-size: 1.33333vw;
  }
}

@media screen and (min-width: 1200px) {
  .cmn-btn .btn-text {
    font-size: 16px;
  }
}

.cmn-btn .btn-arrow {
  position: absolute;
  bottom: 0.16667vw;
  right: 0.16667vw;
}

@media screen and (min-width: 1200px) {
  .cmn-btn .btn-arrow {
    bottom: 2px;
    right: 2px;
  }
}

.footer {
  padding: 4rem 0 3rem;
  background-color: #000;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 5.83333vw 0 3.33333vw;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 7rem 0 4rem;
  }
}

.footer .footer-title {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .footer .footer-title {
    margin-bottom: 3.33333vw;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-title {
    margin-bottom: 4rem;
  }
}

.footer .footer-title span {
  display: block;
  letter-spacing: .2em;
  text-indent: .2em;
}

.footer .footer-title .name {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .footer .footer-title .name {
    font-size: 2.33333vw;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-title .name {
    font-size: 28px;
  }
}

.footer .footer-title .position {
  margin-top: -4px;
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  .footer .footer-title .position {
    margin-top: -0.41667vw;
    font-size: 1.08333vw;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-title .position {
    margin-top: -5px;
    font-size: 13px;
  }
}

.footer .footer-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-sns-list .footer-sns-item {
  width: calc(100%/3);
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .footer .footer-sns-list .footer-sns-item {
    width: auto;
    padding: 0 2.5vw;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-sns-list .footer-sns-item {
    padding: 0 3rem;
  }
}

.footer .footer-sns-list .footer-sns-item .footer-sns-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: .15em;
  text-indent: .15em;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .footer-sns-list .footer-sns-item .footer-sns-link:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .footer-sns-list .footer-sns-item .footer-sns-link span, .footer .footer-sns-list .footer-sns-item .footer-sns-link i {
  color: #fff;
}

.footer .footer-sns-list .footer-sns-item .footer-sns-link .fab {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .footer .footer-sns-list .footer-sns-item .footer-sns-link .fab {
    font-size: 2.66667vw;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-sns-list .footer-sns-item .footer-sns-link .fab {
    font-size: 32px;
  }
}

.footer .footer-sns-list .footer-sns-item .footer-sns-link span {
  padding-left: 6px;
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  .footer .footer-sns-list .footer-sns-item .footer-sns-link span {
    padding-left: 0.83333vw;
    font-size: 1.16667vw;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-sns-list .footer-sns-item .footer-sns-link span {
    padding-left: 1rem;
    font-size: 14px;
  }
}

.footer .footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 18px 0 25px;
}

@media screen and (min-width: 768px) {
  .footer .footer-nav-list {
    margin: 1.66667vw 0 3.33333vw;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-nav-list {
    margin: 2rem 0 4rem;
  }
}

.footer .footer-nav-list .footer-nav-item {
  width: calc(100%/3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .footer .footer-nav-list .footer-nav-item {
    width: auto;
    padding: 0 2.5vw;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-nav-list .footer-nav-item {
    padding: 0 3rem;
  }
}

.footer .footer-nav-list .footer-nav-item:nth-child(n+4) {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .footer .footer-nav-list .footer-nav-item:nth-child(n+4) {
    margin-top: 0;
  }
}

.footer .footer-nav-list .footer-nav-item .footer-nav-link {
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 11px;
  letter-spacing: .15em;
  text-indent: .15em;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 768px) {
  .footer .footer-nav-list .footer-nav-item .footer-nav-link {
    font-size: 1.16667vw;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-nav-list .footer-nav-item .footer-nav-link {
    font-size: 14px;
  }
}

.footer .footer-nav-list .footer-nav-item .footer-nav-link:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .copyright {
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .footer .copyright {
    font-size: 0.83333vw;
  }
}

@media screen and (min-width: 1200px) {
  .footer .copyright {
    font-size: 10px;
  }
}

.border {
  position: relative;
}

.border:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0.5px;
  height: 12px;
  background-color: #D3D3D3;
}

@media screen and (min-width: 768px) {
  .border:not(:last-child)::before {
    height: 1.25vw;
  }
}

@media screen and (min-width: 1200px) {
  .border:not(:last-child)::before {
    height: 15px;
  }
}

.border:nth-child(3)::before {
  display: none;
}

@media screen and (min-width: 768px) {
  .border:nth-child(3)::before {
    display: block;
  }
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .header {
    display: none;
  }
}

.header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 15px;
}

@media screen and (min-width: 768px) {
  .header .header-inner {
    padding: 15px;
  }
}

.header .header-inner .header-nav {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  width: 100%;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .header .header-inner .header-nav {
    display: block;
    position: static;
    opacity: 1;
    visibility: visible;
    width: auto;
  }
}

.header .header-inner .header-nav .header-nav-list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header .header-inner .header-nav .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    -webkit-transform: none;
            transform: none;
  }
}

.header .header-inner .header-nav .header-nav-list .header-nav-item {
  line-height: 3;
}

@media screen and (min-width: 768px) {
  .header .header-inner .header-nav .header-nav-list .header-nav-item {
    margin-right: 2.34375vw;
    line-height: auto;
  }
}

.header .header-inner .header-nav .header-nav-list .header-nav-item.header-nav-sns {
  display: inline-block;
  padding: 0 1rem;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .header .header-inner .header-nav .header-nav-list .header-nav-item.header-nav-sns {
    padding: 0;
    margin-top: 6px;
  }
}

.header .header-inner .header-nav .header-nav-list .header-nav-item .header-nav-link {
  display: inline-block;
  font-size: 2rem;
  letter-spacing: .15em;
  text-indent: .15em;
}

@media screen and (min-width: 768px) {
  .header .header-inner .header-nav .header-nav-list .header-nav-item .header-nav-link {
    font-size: 14px;
  }
}

.header .header-inner .header-nav .header-nav-list .header-nav-item .header-sns-link .fab,
.header .header-inner .header-nav .header-nav-list .header-nav-item .header-sns-link span {
  font-size: 20px;
}

.header .header-inner .header-nav.active {
  opacity: 1;
  visibility: visible;
  left: 0;
}

.header .header-inner .nav-toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #B60200;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .header .header-inner .nav-toggle {
    display: none;
  }
}

.header .header-inner .nav-toggle .line {
  display: block;
  -webkit-transition: .4s;
  transition: .4s;
  position: absolute;
  left: 8px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.header .header-inner .nav-toggle .line:first-child {
  top: 9px;
  width: 60%;
}

.header .header-inner .nav-toggle .line:nth-child(2) {
  top: 18.5px;
  width: 45%;
}

.header .header-inner .nav-toggle .line:last-child {
  bottom: 10px;
  width: 30%;
}

.header .header-inner .nav-toggle.active .line:first-child {
  -webkit-transform: translateY(9.5px) rotate(-135deg);
          transform: translateY(9.5px) rotate(-135deg);
}

.header .header-inner .nav-toggle.active .line:nth-child(2) {
  opacity: 0;
}

.header .header-inner .nav-toggle.active .line:last-child {
  width: 60%;
  -webkit-transform: translateY(-9.5px) rotate(135deg);
          transform: translateY(-9.5px) rotate(135deg);
}

@media screen and (min-width: 1024px) {
  #fv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#fv .fv-content {
  display: none;
}

@media screen and (min-width: 1024px) {
  #fv .fv-content {
    display: block;
    width: 30%;
  }
}

#fv .fv-content .fv-content-inner {
  max-width: 28rem;
  margin: 0 auto;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper:nth-child(n+2) {
  margin-top: 22px;
}

@media screen and (min-width: 1200px) {
  #fv .fv-content .fv-content-inner .index-nav-wrapper:nth-child(n+2) {
    margin-top: 4rem;
  }
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-nav .index-text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #787878;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-nav .index-border {
  display: block;
  position: relative;
  width: 1px;
  height: 16rem;
  margin-top: 7px;
  background-color: #787878;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-nav .index-border.sns-border {
  height: 5rem;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-nav .index-border.pickup-border {
  height: 24rem;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-nav .index-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: -3px;
  width: 8px;
  height: 1px;
  background-color: #787878;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-nav .index-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -3px;
  width: 8px;
  height: 1px;
  background-color: #787878;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-list {
  width: 87%;
}

@media screen and (min-width: 1200px) {
  #fv .fv-content .fv-content-inner .index-nav-wrapper .index-list {
    width: 82%;
  }
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-nav-list .index-nav-item {
  width: 50%;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-nav-list .index-nav-item .index-nav-link {
  display: inline-block;
  padding: 13px 0;
  font-size: 16px;
  letter-spacing: .15em;
  text-indent: .15em;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-nav-list .index-nav-item:nth-child(n+2):hover .index-nav-link {
  color: #B60200;
  -webkit-transition: .3s;
  transition: .3s;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-sns-list .index-sns-item {
  width: 50%;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-sns-list .index-sns-item .index-sns-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-sns-list .index-sns-item .index-sns-link:hover .fab,
#fv .fv-content .fv-content-inner .index-nav-wrapper .index-sns-list .index-sns-item .index-sns-link:hover span {
  color: #B60200;
  -webkit-transition: .3s;
  transition: .3s;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-sns-list .index-sns-item .index-sns-link .fab {
  font-size: 30px;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-sns-list .index-sns-item .index-sns-link span {
  padding-left: 8px;
  font-size: 14px;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-blog-list .index-blog-item {
  margin-bottom: 4rem;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-blog-list .index-blog-item .index-blog-inner {
  display: block;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-blog-list .index-blog-item .index-blog-inner:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-blog-list .index-blog-item .index-blog-inner .index-blog-img {
  width: 97%;
}

@media screen and (min-width: 1200px) {
  #fv .fv-content .fv-content-inner .index-nav-wrapper .index-blog-list .index-blog-item .index-blog-inner .index-blog-img {
    width: 100%;
  }
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-blog-list .index-blog-item .index-blog-inner .index-blog-img img {
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-blog-list .index-blog-item .index-blog-inner .index-blog-date {
  margin: 9px 0 -2px 0;
}

#fv .fv-content .fv-content-inner .index-nav-wrapper .index-blog-list .index-blog-item .index-blog-inner .index-blog-title {
  font-weight: 700;
  font-size: 14px;
}

#fv .fv-img {
  height: 80vw;
  margin: 0 15px;
  background-image: url("../images/kv.jpg");
  background-size: cover;
}

@media screen and (min-width: 768px) {
  #fv .fv-img {
    height: 70vh;
  }
}

@media screen and (min-width: 1024px) {
  #fv .fv-img {
    width: 70%;
    height: 100vh;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  #works .works-list .works-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#works .works-list .works-item:nth-child(n+2) {
  margin-top: 6rem;
}

@media screen and (min-width: 768px) {
  #works .works-list .works-item:nth-child(n+2) {
    margin-top: 5.83333vw;
  }
}

@media screen and (min-width: 1200px) {
  #works .works-list .works-item:nth-child(n+2) {
    margin-top: 7rem;
  }
}

#works .works-list .works-item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#works .works-list .works-item .works-img {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  #works .works-list .works-item .works-img {
    width: 60vw;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  #works .works-list .works-item .works-img {
    width: 720px;
  }
}

#works .works-list .works-item .works-img img {
  margin-left: -1px;
}

@media screen and (min-width: 768px) {
  #works .works-list .works-item .works-textbox {
    margin: 0 3.33333vw;
  }
}

@media screen and (min-width: 1200px) {
  #works .works-list .works-item .works-textbox {
    margin: 0 4rem;
  }
}

#works .works-list .works-item .works-textbox .works-info {
  margin: 15px 0 25px;
  font-weight: 400;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  #works .works-list .works-item .works-textbox .works-info {
    margin: 3.33333vw 0 4.16667vw;
    font-size: 1.16667vw;
  }
}

@media screen and (min-width: 1200px) {
  #works .works-list .works-item .works-textbox .works-info {
    margin: 4rem 0 5rem;
    font-size: 14px;
  }
}

#works .works-list .works-item .works-textbox .works-info span {
  color: #787878;
}

#works .works-list .works-item .works-textbox .works-info .task {
  display: inline-block;
  margin-top: 1rem;
}

#works .works-list .works-item .works-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1.33333vw 0;
}

@media screen and (min-width: 1200px) {
  #works .works-list .works-item .works-btn {
    padding: 16px 0;
  }
}

#works .works-list .works-item .works-btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #FFCDCD;
  border-radius: 23px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

@media screen and (min-width: 768px) {
  #works .works-list .works-item .works-btn::before {
    width: 5vw;
    height: 5vw;
    border-radius: 2.5vw;
  }
}

@media screen and (min-width: 1200px) {
  #works .works-list .works-item .works-btn::before {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
}

#works .works-list .works-item .works-btn:hover {
  opacity: .85;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

#works .works-list .works-item .works-btn:hover::before {
  width: 170px;
}

@media screen and (min-width: 768px) {
  #works .works-list .works-item .works-btn:hover::before {
    width: 18.75vw;
  }
}

@media screen and (min-width: 1200px) {
  #works .works-list .works-item .works-btn:hover::before {
    width: 225px;
  }
}

#works .works-list .works-item .works-btn:hover .btn-border {
  opacity: 0;
  visibility: hidden;
}

#works .works-list .works-item .works-btn .btn-border {
  display: block;
  width: 24px;
  height: 1px;
  margin-left: 32px;
  background-color: #B60200;
}

@media screen and (min-width: 768px) {
  #works .works-list .works-item .works-btn .btn-border {
    width: 2.83333vw;
    margin-left: 3.5vw;
  }
}

@media screen and (min-width: 1200px) {
  #works .works-list .works-item .works-btn .btn-border {
    width: 34px;
    height: 1px;
    margin-left: 42px;
  }
}

#works .works-list .works-item .works-btn .btn-text {
  padding-left: 8px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  #works .works-list .works-item .works-btn .btn-text {
    padding-left: 1rem;
    font-size: 1.33333vw;
  }
}

@media screen and (min-width: 1200px) {
  #works .works-list .works-item .works-btn .btn-text {
    font-size: 16px;
  }
}

#about {
  position: relative;
  padding: 9rem 0 5rem;
  margin-top: 24rem;
}

@media screen and (min-width: 480px) {
  #about {
    margin-top: 34rem;
  }
}

@media screen and (min-width: 768px) {
  #about {
    padding: 5vw 0 6.91667vw;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  #about {
    padding: 6rem 0 8.3rem;
  }
}

#about::before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 10rem);
  background-image: url("../images/bg_grey.jpg");
}

@media screen and (min-width: 768px) {
  #about::before {
    width: 74.5%;
    height: 42.08333vw;
  }
}

@media screen and (min-width: 1200px) {
  #about::before {
    height: 50.5rem;
  }
}

#about::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 38px;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 85%;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  #about::after {
    top: 10.83333vw;
    width: 61%;
    height: 35.41667vw;
    left: auto;
    right: 0;
  }
}

@media screen and (min-width: 1200px) {
  #about::after {
    top: 13rem;
    height: 42.5rem;
  }
}

#about .about-bottom {
  position: absolute;
  z-index: -3;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: #B60200;
}

@media screen and (min-width: 768px) {
  #about .about-bottom {
    height: 16.66667vw;
  }
}

@media screen and (min-width: 1200px) {
  #about .about-bottom {
    height: 20rem;
  }
}

#about .about-img-sp {
  position: absolute;
  top: -17rem;
  left: 0;
  width: 85%;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  #about .about-img-sp {
    top: -27rem;
  }
}

@media screen and (min-width: 768px) {
  #about .about-img-sp {
    display: none;
  }
}

#about .about-img-sp img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -1px;
}

@media screen and (min-width: 480px) {
  #about .about-img-sp img {
    height: 350px;
  }
}

@media screen and (min-width: 768px) {
  #about .about-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  #about .about-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#about .about-inner .about-img {
  display: none;
}

@media screen and (min-width: 768px) {
  #about .about-inner .about-img {
    display: block;
    width: 49.16667vw;
  }
}

@media screen and (min-width: 1200px) {
  #about .about-inner .about-img {
    width: 590px;
  }
}

#about .about-inner .about-img img {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

#about .about-inner .about-content {
  font-size: 12px;
  padding: 0 10px;
}

@media screen and (min-width: 375px) {
  #about .about-inner .about-content {
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  #about .about-inner .about-content {
    padding: 0;
    margin: -1.66667vw 0 0 2.5vw;
  }
}

@media screen and (min-width: 768px) {
  #about .about-inner .about-content {
    font-size: 1.16667vw;
  }
}

@media screen and (min-width: 1200px) {
  #about .about-inner .about-content {
    margin: -2rem 0 0 4rem;
    font-size: 14px;
  }
}

#about .about-inner .about-content .about-text {
  margin: 16px 0;
}

@media screen and (min-width: 768px) {
  #about .about-inner .about-content .about-text {
    margin: 1.66667vw 0;
  }
}

@media screen and (min-width: 1200px) {
  #about .about-inner .about-content .about-text {
    margin: 25px 0;
  }
}

#about .about-inner .about-content .history-table {
  font-size: 10px;
}

@media screen and (min-width: 375px) {
  #about .about-inner .about-content .history-table {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  #about .about-inner .about-content .history-table {
    font-size: 1.16667vw;
  }
}

@media screen and (min-width: 1200px) {
  #about .about-inner .about-content .history-table {
    font-size: 14px;
  }
}

#about .about-inner .about-content .history-table tr td {
  line-height: 2;
}

#about .about-inner .about-content .history-table tr td:first-child {
  vertical-align: top;
}

#about .about-inner .about-content .history-table tr td:nth-child(n+2) {
  padding-left: 1vw;
}

@media screen and (min-width: 1200px) {
  #about .about-inner .about-content .history-table tr td:nth-child(n+2) {
    padding-left: 2rem;
  }
}

#about .about-inner .about-content .history-table tr td:nth-child(3) {
  display: none;
}

@media screen and (min-width: 480px) {
  #about .about-inner .about-content .history-table tr td:nth-child(3) {
    display: block;
  }
}

#about .about-inner .about-content .history-table tr td span {
  display: block;
  margin-top: -4px;
}

@media screen and (min-width: 375px) {
  #about .about-inner .about-content .history-table tr td span {
    margin-top: -6px;
  }
}

@media screen and (min-width: 480px) {
  #about .about-inner .about-content .history-table tr td span {
    display: none;
  }
}

#service {
  position: relative;
  padding: 2rem 0 6rem;
  margin-top: 7rem;
}

@media screen and (min-width: 768px) {
  #service {
    padding: 5vw 0 8.33333vw;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  #service {
    padding: 6rem 0 102px;
  }
}

#service::before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10rem);
  background-image: url("../images/bg_grey.jpg");
}

@media screen and (min-width: 768px) {
  #service::before {
    width: 74.5%;
    height: 43.58333vw;
  }
}

@media screen and (min-width: 1200px) {
  #service::before {
    height: 52.3rem;
  }
}

#service::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 58px;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 78%;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  #service::after {
    top: 10.83333vw;
    left: 0;
    right: auto;
    width: 61%;
    height: 37.5vw;
  }
}

@media screen and (min-width: 1200px) {
  #service::after {
    top: 13rem;
    height: 45rem;
  }
}

#service .service-bottom {
  position: absolute;
  z-index: -3;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: #B60200;
}

@media screen and (min-width: 768px) {
  #service .service-bottom {
    height: 16.66667vw;
  }
}

@media screen and (min-width: 1200px) {
  #service .service-bottom {
    height: 20rem;
  }
}

#service .service-content {
  padding: 0 10px;
}

@media screen and (min-width: 375px) {
  #service .service-content {
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  #service .service-content {
    padding: 0;
    margin-top: -1.66667vw;
  }
}

@media screen and (min-width: 1200px) {
  #service .service-content {
    margin-top: -2rem;
  }
}

#service .service-content .service-list .service-item:first-child {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  #service .service-content .service-list .service-item:first-child {
    margin-bottom: 1.66667vw;
  }
}

@media screen and (min-width: 1200px) {
  #service .service-content .service-list .service-item:first-child {
    margin-bottom: 2rem;
  }
}

#service .service-content .service-list .service-item .service-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#service .service-content .service-list .service-item .service-title .number {
  margin-right: 8px;
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  #service .service-content .service-list .service-item .service-title .number {
    margin-right: 0.83333vw;
    font-size: 3.33333vw;
  }
}

@media screen and (min-width: 1200px) {
  #service .service-content .service-list .service-item .service-title .number {
    margin-right: 1rem;
    font-size: 4rem;
  }
}

#service .service-content .service-list .service-item .service-info {
  margin-top: -2px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  #service .service-content .service-list .service-item .service-info {
    margin-top: -0.33333vw;
    font-size: 1.16667vw;
  }
}

@media screen and (min-width: 1200px) {
  #service .service-content .service-list .service-item .service-info {
    margin-top: -4px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  #blog .blog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#blog .blog-list .blog-item {
  border-left: 1px solid #D3D3D3;
}

@media screen and (min-width: 768px) {
  #blog .blog-list .blog-item {
    width: calc(100%/3);
  }
}

#blog .blog-list .blog-item:not(:last-child) {
  border-right: 1px solid #D3D3D3;
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  #blog .blog-list .blog-item:not(:last-child) {
    border-right: none;
    margin-bottom: 0;
  }
}

#blog .blog-list .blog-item:last-child {
  border-right: 1px solid #D3D3D3;
}

#blog .blog-list .blog-item .blog-inner {
  display: block;
  padding: 0 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 768px) {
  #blog .blog-list .blog-item .blog-inner {
    padding: 0 2.5vw;
  }
}

@media screen and (min-width: 1200px) {
  #blog .blog-list .blog-item .blog-inner {
    padding: 0 3rem;
  }
}

#blog .blog-list .blog-item .blog-inner:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

#blog .blog-list .blog-item .blog-inner:hover .blog-title {
  text-decoration: underline;
}

#blog .blog-list .blog-item .blog-category {
  font-size: 10px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  #blog .blog-list .blog-item .blog-category {
    font-size: 1vw;
    margin-bottom: 0.66667vw;
  }
}

@media screen and (min-width: 1200px) {
  #blog .blog-list .blog-item .blog-category {
    font-size: 12px;
    margin-bottom: 8px;
  }
}

#blog .blog-list .blog-item .blog-img img {
  margin-left: -1px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  #blog .blog-list .blog-item .blog-img img {
    height: 15vw;
  }
}

@media screen and (min-width: 1200px) {
  #blog .blog-list .blog-item .blog-img img {
    height: 180px;
  }
}

#blog .blog-list .blog-item .blog-title {
  margin: 14px 0 1rem;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  #blog .blog-list .blog-item .blog-title {
    margin: 1.16667vw 0 0.83333vw;
    font-size: 1.5vw;
  }
}

@media screen and (min-width: 1200px) {
  #blog .blog-list .blog-item .blog-title {
    margin: 14px 0 1rem;
    font-size: 18px;
  }
}

#blog .blog-list .blog-item .blog-detail {
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  #blog .blog-list .blog-item .blog-detail {
    font-size: 1vw;
  }
}

@media screen and (min-width: 1200px) {
  #blog .blog-list .blog-item .blog-detail {
    font-size: 12px;
  }
}

#blog .blog-list .blog-item .blog-date {
  margin-top: 1rem;
  color: #787878;
  font-size: 10px;
  text-align: right;
}

@media screen and (min-width: 768px) {
  #blog .blog-list .blog-item .blog-date {
    margin-top: 0.83333vw;
    font-size: 0.91667vw;
  }
}

@media screen and (min-width: 1200px) {
  #blog .blog-list .blog-item .blog-date {
    margin-top: 1rem;
    font-size: 11px;
  }
}

#contact {
  position: relative;
  z-index: 1;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-image: url("../images/bg_contact.jpg");
}

@media screen and (min-width: 768px) {
  #contact {
    padding-bottom: 6.66667vw;
  }
}

@media screen and (min-width: 1200px) {
  #contact {
    padding-bottom: 85px;
  }
}

#contact::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  #contact::before {
    height: 7.5vw;
  }
}

@media screen and (min-width: 1200px) {
  #contact::before {
    height: 9rem;
  }
}

#contact .form-wrapper {
  padding: 3rem 0;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  #contact .form-wrapper {
    padding: 4.16667vw 0;
  }
}

@media screen and (min-width: 1200px) {
  #contact .form-wrapper {
    padding: 5rem 0;
  }
}

#contact .form-wrapper .form-inner {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #contact .form-wrapper .form-inner {
    max-width: 75vw;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  #contact .form-wrapper .form-inner {
    max-width: 90rem;
  }
}

#contact .form-wrapper .form-inner .form-lead {
  margin-bottom: 1rem;
  font-size: 13px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  #contact .form-wrapper .form-inner .form-lead {
    margin-bottom: 3.33333vw;
    font-size: 1.33333vw;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  #contact .form-wrapper .form-inner .form-lead {
    margin-bottom: 4rem;
    font-size: 16px;
  }
}

#contact .form-wrapper .form-inner .form-table {
  width: 100%;
}

#contact .form-wrapper .form-inner .form-table tr td {
  font-weight: 500;
  display: block;
  width: 100%;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  #contact .form-wrapper .form-inner .form-table tr td {
    display: table-cell;
    width: auto;
    font-size: 1.33333vw;
  }
}

@media screen and (min-width: 1200px) {
  #contact .form-wrapper .form-inner .form-table tr td {
    font-size: 16px;
  }
}

#contact .form-wrapper .form-inner .form-table tr td:first-child {
  padding: 25px 0 9px;
}

@media screen and (min-width: 768px) {
  #contact .form-wrapper .form-inner .form-table tr td:first-child {
    padding: 0 1.66667vw 2.25vw 0;
  }
}

@media screen and (min-width: 1200px) {
  #contact .form-wrapper .form-inner .form-table tr td:first-child {
    padding: 0 2rem 27px 0;
  }
}

#contact .form-wrapper .form-inner .form-table tr td .must {
  padding-left: 8px;
  color: #ED2E2E;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  #contact .form-wrapper .form-inner .form-table tr td .must {
    padding-left: 0.41667vw;
    font-size: 1vw;
  }
}

@media screen and (min-width: 1200px) {
  #contact .form-wrapper .form-inner .form-table tr td .must {
    padding-left: 5px;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  #contact .form-wrapper .form-inner .form-table tr:nth-child(n+2) td {
    padding-top: 2.91667vw;
  }
}

@media screen and (min-width: 1200px) {
  #contact .form-wrapper .form-inner .form-table tr:nth-child(n+2) td {
    padding-top: 35px;
  }
}

@media screen and (min-width: 768px) {
  #contact .form-wrapper .form-inner .form-table tr:last-child td:first-child {
    padding-top: 3.33333vw;
    vertical-align: top;
  }
}

@media screen and (min-width: 1200px) {
  #contact .form-wrapper .form-inner .form-table tr:last-child td:first-child {
    padding-top: 4rem;
  }
}

#contact .form-wrapper .form-inner .form-table input, #contact .form-wrapper .form-inner .form-table textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #D3D3D3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

@media screen and (min-width: 768px) {
  #contact .form-wrapper .form-inner .form-table input, #contact .form-wrapper .form-inner .form-table textarea {
    width: 56.66667vw;
    padding: 1.08333vw 0.83333vw;
  }
}

@media screen and (min-width: 1200px) {
  #contact .form-wrapper .form-inner .form-table input, #contact .form-wrapper .form-inner .form-table textarea {
    width: 70rem;
    padding: 13px 1rem;
  }
}
/*# sourceMappingURL=style.css.map */