.footer {
  padding: 4rem 0 3rem;
  background-color: cl(black);
  color: #fff;
  @include mq() {
    padding: vw(1200, 70) 0 vw(1200, 40);
  }
  @include mq(lg) {
    padding: 7rem 0 4rem;
  }
  .footer-title {
    margin-bottom: 25px;
    @include mq() {
      margin-bottom: vw(1200, 40);
    }
    @include mq(lg) {
      margin-bottom: 4rem;
    }
    span {
      display: block;
      letter-spacing: .2em;
      text-indent: .2em;
    }
    .name {
      font-size: 20px;
      @include mq() {
        font-size: vw(1200, 28);
      }
      @include mq(lg) {
        font-size: 28px;
      }
    }
    .position {
      margin-top: -4px;
      font-size: 11px;
      @include mq() {
        margin-top: vw(1200, -5);
        font-size: vw(1200, 13);
      }
      @include mq(lg) {
        margin-top: -5px;
        font-size: 13px;
      }
    }
  }
  .footer-sns-list {
    display: flex;
    justify-content: center;
    .footer-sns-item {
      width: calc(100%/3);
      padding: 0 2rem;
      @include mq() {
        width: auto;
        padding: 0 vw(1200, 30);
      }
      @include mq(lg) {
        padding: 0 3rem;
      }
      .footer-sns-link {
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: .15em;
        text-indent: .15em;
        transition: .3s;
        &:hover {
          opacity: .7;
          transition: .3s;
        }
        span,i {
          color: #fff;
        }
        .fab {
          font-size: 2rem;
          @include mq() {
            font-size: vw(1200, 32);
          }
          @include mq(lg) {
            font-size: 32px;
          }
        }
        span {
          padding-left: 6px;
          font-size: 11px;
          @include mq() {
            padding-left: vw(1200, 10);
            font-size: vw(1200, 14);
          }
          @include mq(lg) {
            padding-left: 1rem;
            font-size: 14px;
          }
        }
      }
    }
  }
  .footer-nav-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 18px 0 25px;
    @include mq() {
      margin: vw(1200, 20) 0 vw(1200, 40);
      flex-wrap: nowrap;
    }
    @include mq(lg) {
      margin: 2rem 0 4rem;
    }
    .footer-nav-item {
      width: calc(100%/3);
      box-sizing: border-box;
      padding: 0 15px;
      @include mq() {
        width: auto;
        padding: 0 vw(1200, 30);
      }
      @include mq(lg) {
        padding: 0 3rem;
      }
      &:nth-child(n+4) {
        margin-top: 15px;
        @include mq() {
          margin-top: 0;
        }
      }
      .footer-nav-link {
        display: inline-block;
        width: 100%;
        color: #fff;
        font-size: 11px;
        letter-spacing: .15em;
        text-indent: .15em;
        transition: .3s;
        @include mq() {
          font-size: vw(1200, 14);
        }
        @include mq(lg) {
          font-size: 14px;
        }
        &:hover {
          opacity: .7;
          transition: .3s;
        }
      }
    }
  }
  .copyright {
    font-size: 10px;
    @include mq() {
      font-size: vw(1200, 10);
    }
    @include mq(lg) {
      font-size: 10px;
    }
  }
}
.border {
  position: relative;
  &:not(:last-child) {
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      width: 0.5px;
      height: 12px;
      background-color: cl(grey02);
      @include mq() {
        height: vw(1200, 15);
      }
      @include mq(lg) {
        height: 15px;
      }
    }
  }
  &:nth-child(3) {
    &::before {
      display: none;
      @include mq() {
        display: block;
      }
    }
  }
}